/* ### ROOT ### */

:root
{
    --black: #080808;
    --white: #ffffff;
    --white-transparent: #ffffffbb;
    --grey: #333333;

    --background: #f8f8f8;
    --box-shadow: #0808080a;

    --cat1: #0F4C75;
    --cat2: #3282B8;
    --cat3: #19866b;

    /* old cat3: #1FAB89 */

    --spacing-xs: 0.5rem;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --spacing-xl: 6rem;
    --spacing-xxl: 8rem;

    --max-width: 1000px;
}

/* ### NORMALIZE ### */

html
{
    font-size: clamp(12px, 18px, 24px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html *
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--background);
    font-kerning: auto;
    margin: 0;
    padding: 0;
}

/* ### GENERAL ### */
.site-content
{
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--spacing-s);
}

h1
{
    font-size: 2rem;
    line-height: calc(1ex / 0.32);
}

h2
{
    font-size: 2rem;
    text-transform: uppercase;
    line-height: calc(1ex / 0.32);
}

h3
{
    font-size: 1.5rem;
    line-height: calc(1ex / 0.32);
}

p
{
    font-size: 1rem;
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    line-height: calc(1ex / 0.32);
}

strong
{
    font-size: 1rem;
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    line-height: calc(1ex / 0.32);
}

em
{
    font-size: 1rem;
    line-height: calc(1ex / 0.32);
}

a, a:active, a:visited, a:hover
{
    text-decoration: none;
    color: var(--black);
}

img
{
    max-width: 100%;
    height: auto;
}

ul, ol
{
    margin-left: 1.5rem;
    padding: 1rem;
}

ul
{
    list-style-type: square;
}

li
{
    font-size: 1rem;
    line-height: calc(1ex / 0.32);
}

/* ### HEADER ### */
header
{
    background-color: var(--white);
    box-shadow: 0px var(--spacing-s) var(--spacing-s) 0px var(--box-shadow);
    padding: var(--spacing-s);
}

.header-container
{
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo
{
    max-width: 50%;
}

.logo a img
{
    height: 3rem;
    width: auto;
}

.menu
{
    max-width: 50%;
}

.desktop-navigation-wrapper
{
    list-style: none;
    padding: 0 !important;
}

.desktop-navigation-wrapper li
{
    display: inline-block;
}

.desktop-navigation-wrapper li.menu-item:not(:last-child)
{
    margin-right: var(--spacing-m);
}

.desktop-navigation-wrapper li a
{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.mobile-menu-container
{
    position: relative;
    width: calc(var(--spacing-l) - var(--spacing-s));
    height: calc(var(--spacing-l) - var(--spacing-s));
    cursor: pointer;
}

.mobile-navigation-wrapper
{
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;
    background-color: var(--black);
}

.mobile-navigation-wrapper li
{
    padding: var(--spacing-s);
    text-align: right;
}

.mobile-navigation-wrapper li a
{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}
  
.bar1, .bar2, .bar3
{
    width: 100%;
    height: var(--spacing-xs);
    background-color: var(--black);
    transition: 0.25s;
    position: absolute;
    display: block;
}

.bar1
{
    top: 0rem;
}

.bar2
{
    top: 1.25rem;
}

.bar3
{
    top: 2.5rem;
}
  
/* Rotate first bar */
.change .bar1
{
    transform: translate(0, 1.25rem) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2
{
    opacity: 0;
}

/* Rotate last bar */
.change .bar3
{
    transform: translate(0, -1.25rem) rotate(45deg);
}

/*switch between desktop and mobile menu*/
@media screen and (min-width:720px) 
{
    .mobile-menu
    {
        display: none;
    }
}

@media screen and (max-width:719px)
{
    .desktop-menu
    {
        display: none;
    }
}

/* ### FOOTER ### */
footer
{
    margin-top: var(--spacing-l);
    background-color: var(--black);
}

.footer-navigation-wrapper
{
    list-style: none;
    padding: var(--spacing-s);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
}

.footer-navigation-wrapper li
{
    display: inline-block;
}

.footer-navigation-wrapper li a
{
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
    font-size: 0.8rem;
}

.footer-navigation-wrapper li.menu-item:not(:last-child)
{
    margin-right: var(--spacing-m);
}

/* ### HOME ### */
.home-cat-heading-container
{
    border-bottom: solid var(--black) calc(var(--spacing-xs) / 2);
    margin-left: var(--spacing-s);
    margin-right: var(--spacing-s);
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
}

.home-top-post-thumbnail, .home-top-post-title
{
    padding: var(--spacing-s) var(--spacing-s) 0 var(--spacing-s);
    background-color: var(--white);
}

.home-top-post-tags span,
.home-other-post-tags span
{
    font-size: 0.8rem;    
    text-transform: uppercase;
    color: var(--grey);
}

.home-top-post-tag + .home-top-post-tag:before,
.home-other-post-tag + .home-other-post-tag:before
{
    content: " | ";
}

.home-top-post-content
{
    background-color: var(--white);
    padding: 0 var(--spacing-s) var(--spacing-s) var(--spacing-s);
}

.home-top-post-excerpt
{
    margin-bottom: var(--spacing-s);
}

.home-other-post-container
{
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.home-other-post-container
{
    margin-top: var(--spacing-m);
}

.home-other-post-content
{
    padding: var(--spacing-s);
}

.home-other-post-content + .home-other-post-content
{
    margin-top: var(--spacing-m);
}

.home-infobox
{
    padding: var(--spacing-s);
    background-color: var(--white);
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

@media screen and (min-width:720px) 
{
    .home-post-buttons
    {
        display: flex;
        flex-direction: row;
    }

    .home-post-button-article
    {
        width: 50%;
    }

    .home-post-button-shop
    {
        width: 50%;
    }
}

@media screen and (max-width:719px) 
{
    .home-post-buttons
    {
        display: flex;
        flex-direction: column;
    }

    .home-post-button-article
    {
        width: 100%;
        margin-bottom: var(--spacing-xs);
    }

    .home-post-button-shop
    {
        width: 100%;
    }
}

.read-more-button
{
    width: 100%;
    padding: var(--spacing-s); 
    background-color: var(--black);
    color: var(--white);  
    font-size: 1rem; 
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.shop-more-button
{
    width: 100%;
    padding: var(--spacing-s);        
    background-color: var(--cat3);
    color: var(--white); 
    font-size: 1rem; 
    font-weight: 700;
    border: none;
    cursor: pointer;
}

/* ### SINGLE ### */
.single-post-thumbnail
{
    padding: var(--spacing-s) var(--spacing-s) var(--spacing-xs) var(--spacing-s);
    background-color: var(--white);
}

.single-post-content
{
    padding: var(--spacing-xs) var(--spacing-s) var(--spacing-s) var(--spacing-s);
    background-color: var(--white);
}

.single-post-related-items
{
    padding: var(--spacing-s);
    background-color: var(--white);
}


.single-post-content h3,
.single-post-content h2
{
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-s);
}

.single-post-related-items-container
{
    list-style: none;
    columns: 1;
    margin: 0 !important;
}

.single-post-related-item + .single-post-related-item
{
    margin-top: var(--spacing-m);
}

@media screen and (min-width:720px) 
{
    .single-post-related-items-container
    {
        list-style: none;
        columns: 3;
        margin: 0 !important;
    }    
}


/* ### PAGE ### */

.page-title
{
    border-bottom: solid var(--black) calc(var(--spacing-xs) / 2);
    margin-left: var(--spacing-s);
    margin-right: var(--spacing-s);
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

.page-content
{
    background-color: var(--white);
    padding: var(--spacing-s);
}

.page-content a
{
    text-decoration: underline;
}


/* ### RATING BOX ### */
.single-post-rating-container
{
    margin: var(--spacing-m) 0;
    padding: var(--spacing-s);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.single-post-rating
{
    position: relative;
    width: 100%;
}

.single-post-rating-row-1
{
    display: flex;
    background-color: var(--black);
    color: var(--white);
    height: var(--spacing-xl);    
    justify-content: space-between;
}

.single-post-rating-row-2
{
    background-color: var(--background);
}

@media screen and (min-width:720px) 
{
    .single-post-rating-row-2
    {
        display: flex;
    }
}

.single-post-rating-row-3
{
    font-style: oblique;
    padding: var(--spacing-s);
}

.single-post-rating-row-4
{
}

.rating-grade
{
    padding: var(--spacing-s);    
    margin-top: auto;
    margin-bottom: auto;
}

.rating-icon
{
    padding: var(--spacing-s);
    margin-top: auto;
    margin-bottom: auto;
}

.rating-pros
{
    list-style: none;
}

@media screen and (min-width:720px) 
{
    .rating-pros
    {
        width: 50%;
    }
}

.rating-pros li::marker
{
    content: "+ ";
    font-weight: 900;
    font-size: 1.5rem;
}

.rating-cons
{
    list-style: none;
    list-style-position:outside;
}

.rating-cons li::before
{
    margin-left: 0.5rem;
}

@media screen and (min-width:720px) 
{
    .rating-cons
    {
        width: 50%;
    }
}

.rating-cons li::marker
{
    content: "– ";
    font-weight: 900;
    font-size: 1.5rem;
}

.review-button
{
    color: var(--white);
    background-color: var(--cat3);
    padding: var(--spacing-s);
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.icon-class-1
{
    padding: var(--spacing-s);
    height: var(--spacing-m);
    width: auto;
}

.icon-class-2
{
    padding: var(--spacing-s);
    height: var(--spacing-m);
    width: auto;
}

.icon-class-3
{
    padding: var(--spacing-s);
    height: var(--spacing-m);
    width: auto;
    rotate: 270deg;
}

.icon-class-4
{
    padding: var(--spacing-s);
    height: var(--spacing-m);
    width: auto;
    rotate: 180deg;
}