/* ### ROOT ### */

:root
{
    --black: #080808;
    --white: #ffffff;
    --white-transparent: #ffffffbb;

    --background: #f8f8f8;
    --box-shadow: #0808080a;

    --cat1: #0F4C75;
    --cat2: #3282B8;
    --cat3: #1FAB89;

    --spacing-xs: 0.5rem;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --spacing-xl: 6rem;
    --spacing-xxl: 8rem;

    --max-width: 1000px;
}

/* ### NORMALIZE ### */

html *
{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: calc(1ex / 0.32);
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--background);
    font-kerning: auto;
}

/* ### GENERAL ### */

.site-content
{
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 2rem;
    text-transform: uppercase;
}

h3
{
    font-size: 1.5rem;
}

p
{
    font-size: 1rem;
}

em
{
    font-size: 1rem;
}

a, a:active, a:visited, a:hover
{
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
}

img
{
    max-width: 100%;
    height: auto;
}

/* ### HEADER ### */
header
{
    background-color: var(--white);
    box-shadow: 0px var(--spacing-s) var(--spacing-s) 0px var(--box-shadow);
}

.header-container
{
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo
{
    max-width: 50%;
    padding: var(--spacing-s)
}

.logo a img
{
    height: 3rem;
    width: auto;
}

.menu
{
    max-width: 50%;
    padding: var(--spacing-s)
}

.desktop-navigation-wrapper
{
    list-style: none;
}

.desktop-navigation-wrapper li
{
    display: inline-block;
}

.desktop-navigation-wrapper li.menu-item:not(:last-child)
{
    margin-right: var(--spacing-m);
}

.desktop-navigation-wrapper li a
{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.mobile-menu-container
{
    position: relative;
    width: calc(var(--spacing-l) - var(--spacing-s));
    height: calc(var(--spacing-l) - var(--spacing-s));
    cursor: pointer;
}

.mobile-navigation-wrapper
{
    display: none;
    list-style: none;
    background-color: var(--white);
    border-top: solid 1px var(--black);
}

.mobile-navigation-wrapper li
{
    padding: var(--spacing-s);
    text-align: right;
}

.mobile-navigation-wrapper li a
{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
  
.bar1, .bar2, .bar3
{
    width: 100%;
    height: var(--spacing-xs);
    background-color: var(--black);
    transition: 0.25s;
    position: absolute;
    display: block;
}

.bar1
{
    top: 0rem;
}

.bar2
{
    top: 1.25rem;
}

.bar3
{
    top: 2.5rem;
}
  
/* Rotate first bar */
.change .bar1
{
    transform: translate(0, 1.25rem) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2
{
    opacity: 0;
}

/* Rotate last bar */
.change .bar3
{
    transform: translate(0, -1.25rem) rotate(45deg);
}

/* ### FOOTER ### */

footer
{
    margin-top: var(--spacing-xxl);
    background-color: var(--black);
}

.footer-navigation-wrapper
{
    list-style: none;
    padding: var(--spacing-s);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
}

.footer-navigation-wrapper li
{
    display: inline-block;
}

.footer-navigation-wrapper li a
{
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
}

.footer-navigation-wrapper li.menu-item:not(:last-child)
{
    margin-right: var(--spacing-m);
}



/* ### HOME ### */

.home-cat-heading-container
{
    border-bottom: solid var(--black) calc(var(--spacing-xs) / 2);
    margin-left: var(--spacing-s);
    margin-right: var(--spacing-s);
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-m);
}

.home-top-post-thumbnail
{
    padding: var(--spacing-s) var(--spacing-s) 0 var(--spacing-s);
    background-color: var(--white);
}

.home-top-post-pre-title *, .home-other-post-pre-title *
{
    font-size: 0.8rem;
    font-weight: 100;
    font-style: oblique;
}

.home-top-post-pre-title span
{
    transform: translate(2rem, -7rem);
    position: absolute;
    background-color: var(--white-transparent);
    padding: calc(var(--spacing-xs) / 2) var(--spacing-xs) calc(var(--spacing-xs) / 2) var(--spacing-xs);
    box-shadow: 0px var(--spacing-m) var(--spacing-m) var(--box-shadow);
}

.home-top-post-title span
{
    transform: translate(2rem, -5rem);
    position: absolute;
    background-color: var(--white-transparent);
    padding: calc(var(--spacing-xs) / 2) var(--spacing-xs) calc(var(--spacing-xs) / 2) var(--spacing-xs);
    box-shadow: 0px var(--spacing-m) var(--spacing-m) var(--box-shadow);
}

.home-top-post-tags span,
.home-other-post-tags span
{
    font-size: 0.8rem;
}

.home-top-post-tag + .home-top-post-tag:before,
.home-other-post-tag + .home-other-post-tag:before
{
    content: " | ";
}

.home-top-post-content
{
    background-color: var(--white);
    padding: 0 var(--spacing-s) var(--spacing-s) var(--spacing-s);
}

.home-other-post-container
{
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.home-other-post-container
{
    margin-top: var(--spacing-m);
}

.home-other-post-content
{
    padding: var(--spacing-s);
}

.home-other-post-content + .home-other-post-content
{
    margin-top: var(--spacing-m);
}

.home-infobox
{
    padding: var(--spacing-s);
    background-color: var(--white);
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

/* ### SINGLE ### */
.single-post-thumbnail
{
    padding: var(--spacing-s);
    background-color: var(--white);
}


.single-post-content
{
    background-color: var(--white);
    padding: var(--spacing-s);
}

/* ### PAGE ### */

.page-title
{
    border-bottom: solid var(--black) calc(var(--spacing-xs) / 2);
    margin-left: var(--spacing-s);
    margin-right: var(--spacing-s);
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

.page-content
{
    background-color: var(--white);
    padding: var(--spacing-s);
}

.page-content a
{
    text-decoration: underline;
}